.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  box-shadow: 1px 1px #ccc;
  margin-top: 2px;
  background-color: white;
  border: 1px solid #ccc;
  &__title,
  &__desc {
    font-weight: 500;
  }
  &__amount {
    font-weight: bolder;
    font-size: 2rem;
    margin: 0px;
  }
  @include min-max($smartphone, $tablet - 1) {
    width:91%;
    position: absolute;
    top: 9%;
    left: 4%;
  }


}
