.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #ffffff;
  &__logged {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
  }
  &__image {
    max-width: 100%;
    width: 200px;
  }

  &__icon {
    font-size: 20px;
    color: $formSubmit;

    @include min-max($smartphone, $tablet - 1px) {
      flex-direction: column;
    }
  }
  a {
    font-weight: bold;
    color: #2c3e50;
    padding: 5px;
    &.router-link-exact-active {
      color: $formSubmit;
    }
  }

  &__link {
    text-decoration: none;
    margin-right: 2.5rem;
    display: flex;
    gap: 5px;
    align-items: baseline;
    &:hover {
      text-decoration: none;
      color: $formSubmit;
    }
    @include min-max($smartphone, $tablet - 1px) {
      margin-right: inherit;
      font-size: 15px;
      align-items: center;
    }
  }
}
