@mixin fontAvenir {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


$smartphone: 475px;
$tablet: 768px;
$desktop: 1024px;
$big-desktop: 1280px;

@mixin min-max($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

// // Utilisation du mixin
// @include min-max($smartphone, $tablet - 1px) {
   
// }

// @include min-max($tablet, $desktop - 1px) {
    
// }

// @include min-max($desktop, $big-desktop - 1px) {
// }

// @include min-max($big-desktop, null) {
//     // code ici pour les grands ordinateurs de bureau
// }